Repository LordChunk/Project-Agile, pull requests merged in 2021-06, with the labels that each got.

#143 Ubuntu compatible Prettier build action
  .github/workflows/prettier.yaml
  .prettierrc
Labels: enhancement, github_actions, javascript

#154 Admin can delete contact
  .idea/workspace.xml
  resources/views/contact/index.blade.php
Labels: bug, php

#155 Fixed mobile navigation
  resources/views/layouts/navigation.blade.php
Labels: bug

#153 Disabled removing all roles from users
  .idea/workspace.xml
  app/Http/Controllers/UserController.php
  resources/views/user/edit.blade.php
Labels: bug

#157 AVANSAGILE-93 Search and sort tables
  .idea/workspace.xml
  app/Models/Project.php
  public/css/app.css
  public/js/app.js
  public/js/search.js
  resources/js/app.js
  resources/js/search.js
  resources/views/actionPoints/index.blade.php
  resources/views/company/index.blade.php
  resources/views/company/show.blade.php
  resources/views/layouts/app.blade.php
  resources/views/mailformat/index.blade.php
  resources/views/mailformat/send.blade.php
  resources/views/project/index.blade.php
  resources/views/projectgroup/form.blade.php
  resources/views/projectgroup/show.blade.php
Labels: enhancement, php

#150 Strip HTML and fix `'`
  .idea/workspace.xml
  public/js/app.js
  resources/js/app.js
  resources/views/classroom/form.blade.php
  resources/views/mailformat/send.blade.php
  resources/views/project/form.blade.php
  resources/views/projectgroup/form.blade.php
Labels: bug, javascript

#156 AVANSAGILE-91 Send emails to project groups
  .idea/workspace.xml
  app/Http/Controllers/MailFormatController.php
  app/Http/Controllers/RoleController.php
  package-lock.json
  public/css/app.css
  public/js/app.js
  public/js/search.js
  resources/css/app.css
  resources/views/mailformat/send.blade.php
Labels: enhancement, php

#169 Fix note author
  .idea/workspace.xml
  app/Models/Note.php
  resources/views/contact/show.blade.php
Labels: bug, php

#170 Build JS/CSS docker
  Dockerfile
Labels: bug

#171 AVANSAGILE-89 Change & Forgot Password
  .idea/workspace.xml
  app/Http/Controllers/ProfileController.php
  app/Http/Requests/ProfileRequest.php
  app/Models/User.php
  app/Notifications/MailResetPasswordNotification.php
  resources/views/auth/confirm-password.blade.php
  resources/views/auth/forgot-password.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/reset-password.blade.php
  resources/views/auth/verify-email.blade.php
  resources/views/emails/resetPassword.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/profile/form.blade.php
  resources/views/profile/manage.blade.php
  routes/web.php
  tests/Feature/PasswordResetTest.php
Labels: enhancement, php

#172 Encrypt data
  .idea/workspace.xml
  app/Models/Actionpoint.php
  app/Models/Address.php
  app/Models/Company.php
  app/Models/Contactpoint.php
  app/Models/Mail_format.php
  app/Models/Note.php
  app/Models/Project.php
  app/Models/User.php
  app/Models/contact/Contact.php
  app/Traits/Encryptable.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2021_01_25_133058_create_projects_table.php
  database/migrations/2021_03_07_105113_actionpoint.php
  database/migrations/2021_03_08_114054_create_addresses_table.php
  database/migrations/2021_03_08_114055_create_companies_table.php
  database/migrations/2021_03_08_132920_create_contacts_table.php
  database/migrations/2021_05_19_085416_create_mail_formats_table.php
  resources/views/actionPoints/index.blade.php
  tests/Feature/ContactpointTest.php
  tests/Feature/ProjectTest.php
  tests/Unit/ActionpointTest.php
Labels: enhancement, php

#162 Feature/excel import AVANSAGILE-2
  .gitignore
  .idea/Project-Agile.iml
  .idea/php.xml
  .idea/workspace.xml
  Dockerfile
  app/Http/Controllers/ExcelController.php
  app/Http/Requests/ExcelRequest.php
  app/Imports/ContactImport.php
  app/Models/contact/Contact.php
  composer.json
  composer.lock
  database/migrations/2021_03_08_114054_create_addresses_table.php
  database/migrations/2021_03_08_114055_create_companies_table.php
  resources/views/company/show.blade.php
  resources/views/contact/index.blade.php
  resources/views/excel/importExcel.blade.php
  routes/web.php
  storage/testFiles/Data Import Example.xlsx
  storage/testFiles/normalImport.xlsx
  storage/testFiles/wrongFile.png
  storage/testFiles/wrongHeaderImport.xlsx
  tests/Feature/AdminTest.php
  tests/Feature/ExcelTest.php
Labels: enhancement

#178 Fix loading company index page as admin
  app/Models/Company.php
Labels: bug

#181 Updated user manual and installation manual for sprint 5
  docs/Gebruikershandleiding.pdf
  docs/Installatiehandleiding.pdf
Labels: documentation

#182 Hot fixes
  app/Http/Controllers/ContactController.php
  app/Http/Requests/CompanyRequest.php
  app/Models/Company.php
  app/Models/Project.php
  app/Models/ProjectGroup.php
  app/Models/StudentClass.php
  resources/views/contact/form.blade.php
  resources/views/mailformat/form.blade.php
Labels: bug, php

#183 Fixed adding relations to new contacts
  app/Http/Controllers/ContactController.php
Labels: bug
